@mixin padding($tb, $lr) {
  padding: $tb $lr;
}

@mixin absolute-center($top, $left, $x, $y) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate($x, $y);
}

@mixin margin-center {
  margin: 0 auto;
}

@mixin position-absolute($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin font-size($size) {
  font-size: $size;
}

@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
