$brand-primary: #e50913;
$brand-secondary-color: #fff;
$bg-accent-color: #141414;
$body-font: Montserrat-SemiBold;
$title-font: Montserrat-Italic;
$paragraph-font: Montserrat-Light;
$medium-font: Montserrat-Medium;
